<!DOCTYPE html>
<html>
  <head>
    <title>Account deleted</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>Account successfully deleted</h3>
    <a href="/uploads" class="welcomeLink">Go back to welcome page</a>
  </body>
</html>