<!DOCTYPE html>
<html>
  <head>
    <title>Account deleted</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/accountDeleted.css' />
  </head>
  <body>
    <%- include('navbar') %>
    <div class="accountDeleted">
      <h3 class="title">Account successfully deleted</h3>
      <a href="/uploads" class="welcomeLink">Go back to welcome page</a>
    </div>
  </body>
</html>