<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Error</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/error.css' />
    </head>
    <body>
        <%- include('navbar') %>
        <div class="pageContainer">
            <h1 class="errorTitle"><%= error.message %></h1>
            <h2 class="errorStatus"><%= error.status %></h2>
            <pre><%= error.stack %></pre>
            <a href="/uploads/" class="backLink">Return to welcome page</a>
        </div>
    </body>
</html>
