<!DOCTYPE html>
<html>
  <head>
    <title>Upload file</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Upload file</h1>
    <form id="uploadFile" action="/uploads/folder/<%= folder_id %>/file/create" method="post">
        <label class="uploadFileLabel" for="name">Name</label>
        <input id="name" name="name" type="text" class="uploadFileInput">
        <label class="uploadFileLabel" for="file">Choose file</label>
        <input id="file" name="file" type="file" class="uploadFileInput">
        <button type="submit" class="uploadFileBtn">Upload File</button>
    </form>
  </body>
</html>