<!DOCTYPE html>
<html>
  <head>
    <title>Update file</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Upload file</h1>
    <form id="updateFile" action="/uploads/file/<%= file_id %>/update" method="post">
        <label class="updateFileLabel" for="name">Name</label>
        <input id="name" name="name" type="text" class="updateFileInput">
        <label class="updateFileLabel" for="file">Choose file</label>
        <input id="file" name="file" type="file" class="updateFileInput">
        <button type="submit" class="updateFileBtn">Update File</button>
    </form>
  </body>
</html>