<!DOCTYPE html>
<html>
  <head>
    <title>Upload file</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Upload file</h1>
    <form id="uploadFile" action="/uploads/user/<%= user %>/file/create" method="post">
        <label class="uploadFileLabel" for="folder_select">Select folder</label>
        <select id="folder_select" name="folder_select">
          <% folders.map((folder) => { %>
            <option value="<%= folder.id %>">folder.name</option>
          <% }) %>
        </select>
        <label class="uploadFileLabel" for="name">Name</label>
        <input id="name" name="name" type="text" class="uploadFileInput">
        <label class="uploadFileLabel" for="file">Choose file</label>
        <input id="file" name="file" type="file" class="uploadFileInput">
        <button type="submit" class="uploadFileBtn">Upload File</button>
    </form>
    <a href="/uploads/user/<%= user %>/home" class="cancel">Cancel</a>
    <p class="message"><%= message %></p>
  </body>
</html>