<!DOCTYPE html>
<html>
  <head>
    <title>Delete file</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Delete file</h1>
    <%= file_id %>
    <form id="deleteFile" action="/uploads/file/<%=file_id%>/delete" method="post">
        <button type="submit" class="deleteFileBtn">Delete File</button>
    </form>
    <a href="/uploads/file/<%=file_id%>" class="goBack">Go back to file details</a>
  </body>
</html>