<!DOCTYPE html>
<html>
  <head>
    <title>Folder deleted</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('navbar') %>
    <h3>Folder successfully deleted</h3>
    <a href="/uploads/user/<%= currentUser %>/home" class="welcomeLink">Go back</a>
  </body>
</html>