<!DOCTYPE html>
<html>
  <% if (currentUser) { %>
    <head>
      <title>Create new folder</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
      <h1>Create new folder</h1>
      <form id="createFolder" action="/uploads/user/<%= currentUser.id %>/folder/create" method="post">
        <div>
          <label class="createFolderLabel" for="name">Name</label>
          <input id="name" name="name" type="text" class="createFolderInput">
        </div>
          <button type="submit" class="createFolderBtn">Create Folder</button>
      </form>
      <a href="/uploads/user/<%= currentUser %>/home" class="cancel">Cancel</a>
      <p class="message"><%= message %></p>
    </body>
  <% } else { %>
    <head>
      <title>Page not accessible</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
      <h1>Page not accessible</h1>
      <a href="/uploads" class="welcomeLink">Back to welcome page</a>
    </body>
  <% } %>
</html>