<!DOCTYPE html>
<html>
  <head>
    <title>Folder deleted</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet"  href="/stylesheets/folderDeleted.css" />
  </head>
  <body>
    <%- include('navbar') %>
    <div class="folderDeleted">
      <h1 class="title">Folder successfully deleted</h3>
      <a href="/uploads/user/<%= currentUser %>/home" class="backLink">Go back to home</a>
    </div>
  </body>
</html>