<!DOCTYPE html>
<html>
  <head>
    <title>Delete folder</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Delete folder: <%= folder.name %></h1>
    <form id="deleteFolder" action="/uploads/folder/<%= folder.id %>/delete" method="post">
        <button type="submit" class="deleteFolderBtn">Delete Folder</button>
    </form>
    <a href="/uploads/folder/<%= folder.id %>" class="cancel">Cancel</a>
  </body>
</html>