<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <%- include('navbar') %>
    <div class="welcome">
      <h1 class="welcomeTitle"><%= title %></h1>
      <p class="welcomeHeading">Welcome to <%= title %></p>
      <p class="welcomeText">Upload and store your files here</p>
      <div class="backLinkDiv">
        <a href="/uploads/user/create" class="backLink">Create account</a>
        <a href="/uploads/user/login" class="backLink">Log in</a>
      </div>
    </div>
  </body>
</html>
