<!DOCTYPE html>
<html>
  <% if (currentUser) { %>
    <head>
      <title>Log out</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
      <h1>Are you sure you want to log out?</h1>
      <button type="button">Log out</button>
      <a href="/uploads/user/<%= currentUser.id %>/home" class="homeLink">Go back</a>
    </body>
  <% } else { %>
    <head>
      <title>Page not accessible</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
      <h1>Page not accessible</h1>
      <a href="/uploads" class="welcomeLink">Back to welcome page</a>
    </body>
  <% } %>
</html>