<head>
    <title>Page not accessible</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/pageNotFound.css" />
</head>
<body>
    <%- include('navbar') %>
    <div class="pageNotFound">
        <h1 class="pageNotFoundTitle">Page not accessible</h1>
        <a href="/uploads" class="welcomeLink">Back to welcome page</a>
    </div>
</body>