<!DOCTYPE html>
<html>
  <head>
    <title>Log in</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Log in</h1>
    <form id="login" action="/uploads/user/login" method="post">
      <div>
        <label class="loginLabel" for="username">Username</label>
        <input id="username" name="username" type="text" class="loginInput">
      </div>
      <div>
        <label class="loginLabel" for="password">Password</label>
        <input id="password" name="password" type="password" class="loginInput">
      </div>
        <button type="submit" class="loginBtn">Log in</button>
    </form>
    <a href="/uploads/" class="cancel">Cancel</a>
    <p class="message"><%= message %></p>
  </body>
</html>