<!DOCTYPE html>
<html>
  <head>
    <title>Update user</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Update user</h1>
    <%= user.name %>
    <form id="updateUser" action="/uploads/user/<%= user.id %>/update" method="post">
        <label class="updateUserLabel" for="newUsername">New Username</label>
        <input id="newUsername" name="newUsername" type="text" class="updateUserInput">
        <label class="updateUserLabel" for="newPassword">New Password</label>
        <input id="newPassword" name="newPassword" type="password" class="updateUserInput">
        <label class="updateUserLabel" for="confirmNewPassword">Confirm password</label>
        <input id="confirmNewPassword" name="confirmNewPassword" type="password" class="updateUserInput">
        <button type="submit" class="updateUserBtn">Update User</button>
    </form>
    <a href="/uploads/user/<%= user.id %>/delete" class="deleteUserLink">Delete Account</a>
    <a href="/uploads/user/<%= user.id %>/home" class="cancel">Cancel</a>
  </body>
</html>