<!DOCTYPE html>
<html>
  <head>
    <title>Delete user</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Delete user</h1>
    <%= user %>
    <form id="deleteUser" action="/uploads/user/<%=user%>/delete" method="post">
        <button type="submit" class="deleteUserBtn">Delete User</button>
    </form>
    <a href="/uploads/user/<%=user%>" class="goBack">Go back to profile</a>
  </body>
</html>