.accountDeleted {
    margin: 180px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
}

.title {
    font-size: 4rem;
    text-align: center;
    margin: 50px 20px 20px 20px;
    padding: 20px;
    border: 2px solid var(--highlight2);
    border-radius: 15px;
}

.welcomeLink {
    margin: 50px;
}