.errorPage {
    margin: 180px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
}

.errorTitle {
    font-size: 4rem;
}

.errorStatus {
    font-size: 3rem;
}

pre {
    font-size: 2.5rem;
}