.uploadFileTitle {
    font-size: 4rem;
    text-align: center;
    margin: 100px 20px;
    padding: 20px;
    border: 2px solid var(--highlight2);
    border-radius: 15px;
}

#uploadFile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.inputDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uploadFileLabel {
    font-size: 3rem;
    font-weight: 800;
}

.selectFolderLabel {
    margin-bottom: 50px;
}

#folder_id {
    height: 100px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-size: 75px;
    background-position-x: 100%;
    background-position-y: 5px;
    border: 1px solid var(--dark);
    border-radius: 2px;
    padding: 0px 20px
}

option {
    font-size: 1rem;
    color: var(--dark)
}

.fileInputDiv {
    margin-top: 50px;
}

.uploadFileInput {
    width: 90%;
    height: 70px;
    font-size: 2.5rem;
}

#file {
    margin-top: 50px;
    font-size: 3rem;
    height: 100px;
}

input::file-selector-button {
    padding: 15px 30px;
    border: none;
    color: var(--light);
    background-color: var(--dark);
    border-radius: 15px;
    margin-right: 20px;

}

.uploadFileBtn {
    background-color: var(--dark);
    color: var(--highlight2);
    margin: 50px 0px;
    font-size: 3rem;
    border-radius: 15px;
    padding: 15px 30px;
    text-align: center;
    text-wrap: nowrap;
}

.uploadFileBtn:hover {
    color: var(--highlight1);
    cursor: pointer;
}

.cancelBtn {
    background-color: var(--dark);
    border-radius: 15px;
    padding: 15px 40px;
    font-size: 2.5rem;
    margin-bottom: 150px;
}

.cancelBtn:hover {
    cursor: pointer;
}

.message {
    font-size: 2.5rem;
    font-style: italic;
}