.title {
    margin: 10px;
    font-size: 1.8rem;
    border: 2px solid var(--highlight2);
    padding: 10px;
    text-align: center;
    border-radius: 15px;
}

.filename {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 800;
}

.fileImage {
    width: 90%;
    height: 60%;
    border: 3px solid var(--highlight2);
    margin: 10px 0px;
}

span.boldText {
    font-size: 1.5rem;
}

.fileDetail {
    font-size: 1.5rem;
    margin: 10px;
    text-align: center;
}

.downloadLinkDiv {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.downloadLinkTitle {
    font-size: 1.5rem;
    font-weight: 800;
}

.downloadLinkText {
    font-size: 1.5rem;
    text-align: center;
}

.downloadLinkBtn {
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: var(--highlight1);
    color: var(--dark);
    margin: 10px;
    font-size: 1.5rem;
    text-wrap: nowrap;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.downloadLinkBtn:hover {
    background-color: var(--highlight2);
    border: 2px solid var(--dark);
    cursor: pointer;
}

.fileOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.updateFile, .deleteFile {
    background-color: var(--dark);
    margin: 10px;
    font-size: 1.5rem;
    border-radius: 15px;
    padding: 10px 20px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.updateFile:hover, .deleteFile:hover {
    cursor: pointer;
}