.deleteFolderTitle {
    font-size: 2rem;
    padding: 20px;
    border: 2px solid var(--highlight2);
    border-radius: 15px;
    text-align: center;
    margin: 20px;
}

.deleteFolderBtn {
    background-color: var(--dark);
    color: var(--highlight2);
    margin: 20px;
    font-size: 1.5rem;
    border-radius: 15px;
    padding: 10px 20px;
    text-align: center;
    text-wrap: nowrap;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.deleteFolderBtn:hover {
    color: var(--highlight1);
    cursor: pointer;
}