.folderOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border-bottom: 4px solid var(--highlight1);
    padding: 20px 0px;
    margin-bottom: 10px;
}

.folderOption {
    background-color: var(--dark);
    font-size: 1.3rem;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    text-wrap: nowrap;
    margin: 0px 5px;
} 

.folderOption:hover {
    cursor: pointer;
}

.filesTitle {
    font-size: 2rem;
    padding: 10px 20px;
    background-color: var(--highlight2);
    text-align: center;
}

.files {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}

.file {
    background-color: white;
    color: var(--dark);
    margin: 10px;
    padding: 20px 10px 10px 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.fileListDetail {
    margin-bottom: 10px;
    width: 100%;
    font-size: 1.2rem;
}

b {
    font-size: 2rem;
}

a.fileLink {
    font-size: 1.3rem;
    font-weight: bold;
    width: 100%;
    color: var(--highlight1);
    text-decoration: underline;
}

.fileLink:hover {
    cursor: pointer;
    color: var(--highlight2);
}

.fileLinkBtn, .noFilesLink {
    background-color: var(--dark);
    font-size: 1.5rem;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    margin: 10px;
    text-wrap: nowrap;
}

.fileLinkBtn:hover, .noFilesLink:hover {
    cursor: pointer;
}

.noFiles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noFilesText {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
}