.title {
    margin: 10px;
    font-size: 1.8rem;
    border: 2px solid var(--highlight2);
    padding: 10px;
    width: 90%;
    text-align: center;
    border-radius: 15px;
}

.folderName {
    font-size: 2rem;
    font-weight: 800;
    padding: 10px;
    text-align: center;
}

.folderOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border-bottom: 2px solid var(--highlight1);
    width: 90%;
    padding: 20px 0px;
}

.folderOption {
    background-color: var(--dark);
    font-size: 1rem;
    border-radius: 15px;
    padding: 7px 14px;
    text-align: center;
    text-wrap: nowrap;
    margin: 0px 5px;
} 

.folderOption:hover {
    cursor: pointer;
}

.filesTitle {
    font-size: 1.5rem;
    padding: 10px;
    border: 2px solid var(--highlight2);
    border-radius: 15px;
    text-align: center;
    margin-top: 20px;
}

.files {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}

.file {
    background-color: white;
    color: var(--dark);
    margin: 10px;
    padding: 20px 10px 10px 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.fileListDetail {
    margin-bottom: 10px;
    width: 100%;
    font-size: 1.2rem;
}

span.boldText {
    font-size: 1.2rem;
}

.fileLink {
    font-size: 1.3rem;
    font-weight: bold;
    width: 100%;
    color: var(--highlight1);
    text-decoration: underline;
}

.fileLink:hover {
    cursor: pointer;
    color: var(--highlight2);
}

.fileLinkBtn {
    background-color: var(--dark);
    font-size: 1.5rem;
    border-radius: 15px;
    padding: 10px 20px;
    text-align: center;
    margin: 10px;
    text-wrap: nowrap;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.fileLinkBtn:hover {
    cursor: pointer;
}

.noFiles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noFilesText {
    font-size: 1.5rem;
}

.noFilesLink {
    color: var(--highlight2);
}

.noFilesLink:hover {
    color: var(--highlight1);
    cursor: pointer;
}