.welcome {
    margin: 180px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
}

.welcomeTitle {
    font-size: 7rem;
    text-align: center;
    margin: 100px 20px 50px 20px;
    padding: 30px;
    border: 4px solid var(--highlight1);
    border-radius: 15px;
}

.welcomeHeading {
    font-size: 4rem;
    width: 100%;
    text-align: center;
}

.welcomeText {
    font-size: 2rem;
    font-style: italic;
    width: 100%;
    text-align: center;
}

.backLinkDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}

.backLink {
    background-color: var(--dark);
    border-radius: 15px;
    padding: 15px 40px;
    font-size: 3rem;
    margin: 100px 20px;
}

.backLink:hover {
    cursor: pointer;
}