.title {
    font-size: 4rem;
    text-align: center;
}

.logoutBtn {
    background-color: var(--dark);
    border-radius: 15px;
    padding: 15px 40px;
    font-size: 3.5rem;
    margin: 20px 0px;
}

.backLink {
    margin: 50px;
}