
.pageNotFound {
    margin: 180px 30px 30px 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--light);
}
  
.pageNotFoundTitle {
    font-size: 4rem;
    margin: 50px 20px;
}