.homePage {
    margin: 180px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
    padding: 50px;
}

.homeTitle {
    font-size: 4rem;
    text-align: center;
    border: 2px solid var(--highlight2);
    padding: 30px;
    border-radius: 15px;
    margin: 20px;
}

.homeLinkDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    border-bottom: 4px solid var(--highlight2);
    padding-bottom: 30px;
    margin-top: 30px;
}

.homeLink {
    background-color: var(--dark);
    border-radius: 15px;
    padding: 15px 40px;
    font-size: 2.5rem;
    margin: 30px 30px;
    text-wrap: nowrap;
}

.homeLink:hover, .createFolderLink:hover {
    cursor: pointer;
}

.createFolderLink {
    background-color: var(--dark);
    border-radius: 15px;
    padding: 15px 40px;
    font-size: 2.5rem;
    margin: 30px 30px 100px 30px;
    text-wrap: nowrap;
}

.foldersTitle {
    font-size: 3rem;
    padding: 20px;
    border: 2px solid var(--highlight2);
    border-radius: 15px;
}

.folder {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.folderName {
    color: var(--dark);
    font-size: 2.5rem;
    margin-left: 30px;
}

.folderLink {
    background-color: var(--dark);
    padding: 15px 40px;
    font-size: 2.5rem;
    margin: 30px;
    text-wrap: nowrap;
    border-radius: 15px;
}