.homeTitle {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    border: 2px solid var(--highlight2);
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

.homeLinkDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    border-bottom: 4px solid var(--highlight1);
    padding-bottom: 20px;
}

.homeLink {
    background-color: var(--dark);
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 1.5rem;
    margin: 10px;
    text-wrap: nowrap;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.homeLink:hover, .createFolderLink:hover {
    cursor: pointer;
}

.createFolderLink {
    background-color: var(--dark);
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 1.5rem;
    margin: 20px;
    text-wrap: nowrap;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.foldersTitle {
    font-size: 2rem;
    padding: 10px;
    border: 2px solid var(--highlight2);
    border-radius: 15px;
    margin-top: 20px;

}

.folders {
    margin-bottom: 50px;
    width: 100%;
}

.folder {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.folderName {
    color: var(--dark);
    font-size: 1.5rem;
    padding-left: 10px;
}

.folderLink {
    background-color: var(--dark);
    padding: 10px 20px;
    font-size: 1.5rem;
    margin: 10px;
    text-wrap: nowrap;
    border-radius: 15px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}