.updateUserLabel {
    font-size: 1.4rem;
    margin: 10px;
}

.updateUserInput {
    width: 90%;
    font-size: 1.5rem;
    padding: 5px;
}

.updateUserBtn {
    background-color: var(--dark);
    color: var(--highlight2);
    margin-top: 20px;
    font-size: 1.5rem;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    text-wrap: nowrap;
}

.updateUserBtn:hover {
    color: var(--highlight1);
    cursor: pointer;
}

.deleteUserLink {
    background-color: var(--dark);
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1.5rem;
    margin: 10px;
    text-wrap: nowrap;
}

.deleteUserLink:hover {
    cursor: pointer;
}