.userLoginForm {
    margin: 180px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
}

.loginTitle {
    font-size: 4rem;
    text-align: center;
    margin: 100px 20px;
    padding: 30px;
    border: 2px solid var(--highlight2);
    border-radius: 15px;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.formInputsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginLabel {
    font-size: 3rem;
    margin-right: 20px;
    margin-bottom: 30px;
}

.loginInput {
    font-size: 3rem;
    height: 70px;
    margin: 20px;
    padding-left: 20px;
}

.loginBtn {
    background-color: var(--dark);
    color: var(--highlight2);
    margin: 100px 0px;
    font-size: 3rem;
    border-radius: 15px;
    padding: 20px 40px;
    text-align: center;
}

.cancelBtn {
    background-color: var(--dark);
    border-radius: 15px;
    padding: 15px 40px;
    font-size: 2.5rem;
    margin: 50px 0px;
}

.cancelBtn:hover {
    cursor: pointer;
}

.message {
    font-size: 3rem;
    font-style: italic;
}