.updateUser {
    margin: 180px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
}

.title {
    font-size: 4rem;
    text-align: center;
    margin: 50px 20px 20px 20px;
    padding: 20px;
    border: 2px solid var(--highlight2);
    border-radius: 15px;
}

#updateUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.updateUserLabel {
    font-size: 3rem;
    margin: 20px;
}

.updateUserInput {
    width: 90%;
    height: 70px;
    font-size: 3rem;
    padding-left: 20px;
    margin: 20px;
}

.updateUserBtn {
    background-color: var(--dark);
    color: var(--highlight2);
    margin: 50px 0px 20px 0px ;
    font-size: 3rem;
    border-radius: 15px;
    padding: 15px 30px;
    text-align: center;
    text-wrap: nowrap;
}

.updateUserBtn:hover {
    color: var(--highlight1);
    cursor: pointer;
}

.deleteUserLink, .cancelBtn {
    background-color: var(--dark);
    border-radius: 15px;
    padding: 15px 40px;
    font-size: 2.5rem;
    margin: 20px 0px;
    text-wrap: nowrap;
}

.deleteUserLink:hover, .cancelBtn:hover {
    cursor: pointer;
}

.message {
    font-size: 2.5rem;
    font-style: italic;
    margin-bottom: 50px;
}